{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/input/macro.njk" import govukInput %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% from
"govuk/components/error-summary/macro.njk" import govukErrorSummary %} {% set
pageName = "What is the overall volume of PPPs, ingredients and adjuvants your
business distributes in a typical year?" %} {% set backLink = basePath +
"/distribute-products" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem",
    errorList: errorList }) }}{% endif %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      What is the overall volume of PPPs, ingredients and adjuvants your
      business distributes in a typical year?
    </h1>
    <p class="govuk-body">
      Give an estimate of the total amount of undiluted product you distribute.
      If you distribute both liquid and solid products, combine them using 1
      litre as roughly equal to 1 kilogram.
    </p>

    <form method="post" action="{{ basePath }}/distribute-quantity" novalidate>
      {{ govukInput({ label: { text: "Estimated annual quantity" }, id:
      "distribute-quantity", name: "distribute-quantity", classes:
      "govuk-input--width-10", suffix: { text: "Kilograms or litres" },
      errorMessage: { text: errors["distribute-quantity"] } if
      errors["distribute-quantity"], value: data["distribute-quantity"] }) }} {{
      govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
