{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/checkboxes/macro.njk" import govukCheckboxes %} {% from
"govuk/components/textarea/macro.njk" import govukTextarea %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% from
"govuk/components/error-summary/macro.njk" import govukErrorSummary %} {% set
pageName = "What horticultural sectors do you apply PPPs?" %} {% set backLink =
basePath + "/sector" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem",
    errorList: errorList }) }}{% endif %}

    <form method="post" action="{{ basePath }}/horti-subsectors" novalidate>
      {{ govukCheckboxes({ name: "horti-subsector", errorMessage: { text:
      errors["horti-subsector"] } if errors["horti-subsector"], fieldset: {
      legend: { text: "What horticultural sectors do you apply PPPs?",
      isPageHeading: true, classes: "govuk-fieldset__legend--l" } }, hint: {
      text: "Select all that apply" }, items: [ { value: "Edible protected crops", text: "Edible protected crops", checked:
      checked("horti-subsector", "Edible protected crops") }, { value: "Orchards & soft fruit", text: "Orchards & soft fruit", checked:
      checked("horti-subsector", "Orchards & soft fruit") }, { value:
      "Ornamentals", text: "Ornamentals", checked: checked("horti-subsector",
      "Ornamentals") } ] }) }}

      <p class="govuk-body">or</p>

      {{ govukTextarea({ label: { text: "Other", classes: "govuk-label--s" },
      hint: { text: "Describe your main type of work in a few words" }, id:
      "horti-subsector-other", name: "horti-subsector-other", rows: 3, value:
      data["horti-subsector-other"] }) }} {{ govukButton({ text: "Continue" })
      }}
    </form>
  </div>
</div>
{% endblock %}
