{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/radios/macro.njk" import govukRadios %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% from
"govuk/components/error-summary/macro.njk" import govukErrorSummary %} {% set
pageName = "Where do you store products you import?" %} {% set backLink =
basePath + "/import-storing" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem",
    errorList: errorList }) }}{% endif %}

    <form method="post" action="{{ basePath }}/import-storing-where" novalidate>
      {{ govukRadios({ name: "import-storing-where", errorMessage: { text:
      errors["import-storing-where"] } if errors["import-storing-where"],
      fieldset: { legend: { text: "Where do you store products you import?",
      isPageHeading: true, classes: "govuk-fieldset__legend--l" } }, hint: {
      text: "Select an option" }, items: [ { value: "Main business address",
      text: "Only at the main business address",
      checked: checked("import-storing-where", "Main business address") }, {
      value: "A different location to the main business address", text: "At the main business address and other locations", checked:
      checked("import-storing-where", "A different location to the main business address") } ] }) }} {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
