{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% set pageName =
"What is the location where you store PPPs?" %} {% set backLink = basePath +
"/import-quantity-band" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">What is the location where you store PPPs?</h1>
    <p class="govuk-hint">
      Provide the address details for the location that is not your main
      business address.
    </p>

    <form
      method="post"
      action="{{ basePath }}/import-store-own-address-lookup"
      novalidate
    >
      <div class="govuk-button-group">
        {{ govukButton({ text: "Find an address" }) }}
        <span class="govuk-body"
          >or
          <a
            class="govuk-link"
            href="{{ basePath }}/import-store-own-address-manual"
            >enter an address manually</a
          ></span
        >
      </div>
    </form>
  </div>
</div>
{% endblock %}
