{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/input/macro.njk" import govukInput %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% from
"govuk/components/error-summary/macro.njk" import govukErrorSummary %} {% set
pageName = "What is the location where you store PPPs?" %} {% set backLink =
basePath + "/import-store-own-address-lookup" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem",
    errorList: errorList }) }}{% endif %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">What is the location where you store PPPs?</h1>

    <form
      method="post"
      action="{{ basePath }}/import-store-own-address-search"
      novalidate
    >
      {{ govukInput({ label: { text: "Postcode" }, hint: { text: "For example
      AA3 1AB" }, id: "import-store-postcode", name: "import-store-postcode",
      classes: "govuk-input--width-10", autocomplete: "postal-code",
      errorMessage: { text: errors["import-store-postcode"] } if
      errors["import-store-postcode"], value: data["import-store-postcode"] })
      }} {{ govukInput({ label: { text: "Building name or number (optional)" },
      hint: { text: "For example, 15 or Prospect Cottage" }, id:
      "import-store-building", name: "import-store-building", value:
      data["import-store-building"] }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Find an address" }) }}
        <span class="govuk-body"
          >or
          <a
            class="govuk-link"
            href="{{ basePath }}/import-store-own-address-manual"
            >enter an address manually</a
          ></span
        >
      </div>
    </form>
  </div>
</div>
{% endblock %}
