{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/radios/macro.njk" import govukRadios %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% from
"govuk/components/error-summary/macro.njk" import govukErrorSummary %} {% set
pageName = "At how many sites do you store PPPs?" %} {% set backLink = basePath
+ "/import-storing-where" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem",
    errorList: errorList }) }}{% endif %}

    <form method="post" action="{{ basePath }}/import-store-sites" novalidate>
      {{ govukRadios({ name: "import-store-sites", errorMessage: { text:
      errors["import-store-sites"] } if errors["import-store-sites"], fieldset:
      { legend: { text: "At how many sites do you store PPPs?", isPageHeading:
      true, classes: "govuk-fieldset__legend--l" } }, hint: { text: "Select the
      number of sites you are responsible for." }, items: [ { value: "1 to 10",
      text: "1 to 10", checked: checked("import-store-sites", "1 to 10") }, {
      value: "11 to 50", text: "11 to 50", checked:
      checked("import-store-sites", "11 to 50") }, { value: "51 to 200", text:
      "51 to 200", checked: checked("import-store-sites", "51 to 200") }, {
      value: "201 to 400", text: "201 to 400", checked:
      checked("import-store-sites", "201 to 400") }, { value: "400 and over",
      text: "400 and over", checked: checked("import-store-sites", "400 and
      over") } ] }) }} {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
