{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/input/macro.njk" import govukInput %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% from
"govuk/components/error-summary/macro.njk" import govukErrorSummary %} {% set
pageName = "What is the overall volume of amateur PPPs your business sells in a
typical year?" %} {% set backLink = basePath + "/sell" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem",
    errorList: errorList }) }}{% endif %}

    <h1 class="govuk-heading-xl">
      What is the overall volume of amateur PPPs your business sells in a
      typical year?
    </h1>
    <p class="govuk-body">
      Give an estimate of the total amount of undiluted product you sell. If you
      sell both liquid and solid products, combine them using 1 litre as roughly
      equal to 1 kilogram.
    </p>

    <form
      method="post"
      action="{{ basePath }}/sell-amateur-quantity"
      novalidate
    >
      {{ govukInput({ label: { text: "Estimated annual quantity" }, id:
      "sell-amateur-quantity", name: "sell-amateur-quantity", classes:
      "govuk-input--width-10", prefix: { text: "£" }, errorMessage: { text:
      errors["sell-amateur-quantity"] } if errors["sell-amateur-quantity"],
      value: data["sell-amateur-quantity"] }) }} {{ govukButton({ text:
      "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
