{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/radios/macro.njk" import govukRadios %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% from
"govuk/components/error-summary/macro.njk" import govukErrorSummary %} {% set
pageName = "What products do you sell in England, Scotland or Wales?" %} {% set
backLink = basePath + "/sell" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem",
    errorList: errorList }) }}{% endif %}

    <form method="post" action="{{ basePath }}/sell-pro-products" novalidate>
      {{ govukRadios({ name: "sell-pro-products", errorMessage: { text:
      errors["sell-pro-products"] } if errors["sell-pro-products"], fieldset: {
      legend: { text: "What products do you sell in England, Scotland or
      Wales?", isPageHeading: true, classes: "govuk-fieldset__legend--l" } },
      hint: { text: "Select an option" }, items: [ { value: "Plant protection
      products (PPPs) only", text: "Plant protection products (PPPs) only",
      checked: checked("sell-pro-products", "Plant protection products (PPPs)
      only") }, { value: "Ingredients and adjuvants only", text: "Ingredients
      and adjuvants only", checked: checked("sell-pro-products", "Ingredients
      and adjuvants only") }, { value: "Both PPPs and ingredients and
      adjuvants", text: "Both PPPs and ingredients and adjuvants", checked:
      checked("sell-pro-products", "Both PPPs and ingredients and adjuvants") }
      ] }) }} {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
