{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/input/macro.njk" import govukInput %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% from
"govuk/components/error-summary/macro.njk" import govukErrorSummary %} {% set
pageName = "What is the address for your head office?" %} {% set backLink =
basePath + "/sell-amateur-head-office-address-lookup" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem",
    errorList: errorList }) }}{% endif %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">What is the address for your head office?</h1>

    <form
      method="post"
      action="{{ basePath }}/sell-amateur-head-office-lookup-search"
      novalidate
    >
      {{ govukInput({ label: { text: "Postcode" }, hint: { text: "For example
      AA3 1AB" }, id: "sell-ho-postcode", name: "sell-ho-postcode", classes:
      "govuk-input--width-10", autocomplete: "postal-code", errorMessage: {
      text: errors["sell-ho-postcode"] } if errors["sell-ho-postcode"], value:
      data["sell-ho-postcode"] }) }} {{ govukInput({ label: { text: "Building
      name or number (optional)" }, hint: { text: "For example, 15 or Prospect
      Cottage" }, id: "sell-ho-building", name: "sell-ho-building", value:
      data["sell-ho-building"] }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Find an address" }) }}
        <span class="govuk-body"
          >or
          <a
            class="govuk-link"
            href="{{ basePath }}/sell-amateur-head-office-manual-address"
            >enter an address manually</a
          ></span
        >
      </div>
    </form>
  </div>
</div>
{% endblock %}
