{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/input/macro.njk" import govukInput %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% from
"govuk/components/error-summary/macro.njk" import govukErrorSummary %} {% set
pageName = "Who should we contact about your PPP activities?" %} {% set backLink
= basePath + "/sell-amateur-head-office-address-lookup-result" %} {% block
content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem",
    errorList: errorList }) }}{% endif %}

    <h1 class="govuk-heading-xl">
      Who should we contact about your PPP activities?
    </h1>
    <p class="govuk-body">
      We may need to contact someone about your organisation’s PPP activities.
      This should be a person with knowledge of these activities.
    </p>

    <form
      method="post"
      action="{{ basePath }}/sell-amateur-contact-details"
      novalidate
    >
      {{ govukInput({ label: { text: "Contact name" }, id: "sell-contact-name",
      name: "sell-contact-name", autocomplete: "name", errorMessage: { text:
      errors["sell-contact-name"] } if errors["sell-contact-name"], value:
      data["sell-contact-name"] }) }} {{ govukInput({ label: { text: "Job title
      or role (optional)" }, id: "sell-contact-job-title", name:
      "sell-contact-job-title", value: data["sell-contact-job-title"] }) }} {{
      govukInput({ label: { text: "Telephone number" }, id:
      "sell-contact-telephone", name: "sell-contact-telephone", type: "tel",
      autocomplete: "tel", errorMessage: { text:
      errors["sell-contact-telephone"] } if errors["sell-contact-telephone"],
      value: data["sell-contact-telephone"] }) }} {{ govukInput({ label: { text:
      "Email address" }, id: "sell-contact-email", name: "sell-contact-email",
      type: "email", autocomplete: "email", errorMessage: { text:
      errors["sell-contact-email"] } if errors["sell-contact-email"], value:
      data["sell-contact-email"] }) }}

      <div class="govuk-inset-text">
        If these contact details change in the future they must be updated
      </div>

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
