{% extends "layouts/main.html" %} {% set basePath = "/v1-3" %} {% from
"govuk/components/button/macro.njk" import govukButton %} {% set pageName =
"Register work involving plant protection products (PPPs)" %} {% block content
%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Register work involving plant protection products (PPPs)
    </h1>

    <p class="govuk-body">
      PPPs are a type of pesticide used to protect plants and crops. Examples
      include herbicides, fungicides, insecticides and plant growth regulators.
      This service does not cover other types of pesticides, such as
      disinfectants, wood preservatives or rodenticides.
    </p>

    <h2 class="govuk-heading-m">Who must register</h2>
    <p class="govuk-body">You must use this service if you:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>use professional PPPs or adjuvants as part of your work</li>
      <li>
        professional PPPs are used as part of your business activities, whether
        they are applied by your own staff or by a contractor you hire
      </li>
      <li>
        import, manufacture, process, distribute or sell professional PPPs or
        PPP ingredients
      </li>
      <li>sell amateur PPPs to the public</li>
      <li>store PPPs</li>
    </ul>

    <p class="govuk-body">
      You do not need to register if you only use amateur PPPs in your home
      garden.
    </p>

    <p class="govuk-body">
      Registration is a legal requirement under the Official Controls (Plant
      Protection Products) Regulations 2020.
    </p>

    <p class="govuk-body">
      This service is for businesses, organisations and sole traders operating
      in England, Scotland and Wales.
    </p>

    <p class="govuk-body">
      Businesses in Northern Ireland, the Channel Islands and the Isle of Man do
      not need to register using this service.
    </p>

    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">To complete your registration, you will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your organisation's name and contact details</li>
      <li>the address of each site where PPPs are stored, used or sold</li>
      <li>details of the PPP activities your organisation carries out</li>
      <li>
        information about the products you use, store or place on the market
      </li>
    </ul>

    <p class="govuk-body">
      Only provide information for the sites you are responsible for.
    </p>

    <h3 class="govuk-heading-s">How long it takes</h3>
    <p class="govuk-body">It takes about 10 minutes to register.</p>
    <p class="govuk-body">
      You cannot save your progress, so you must complete the registration in
      one session.
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="#"
        >Read the guidance on plant protection products (PPPs)</a
      >
      if you need help deciding whether to register or complete your
      registration.
    </p>

    {{ govukButton({ text: "Start", href: basePath + "/activities",
    isStartButton: true }) }}

    <h3 class="govuk-heading-s">What happens to your information</h3>
    <p class="govuk-body">
      The Department for Environment, Food and Rural Affairs (Defra) collects
      the information you provide.
    </p>
    <p class="govuk-body">
      Defra may share your information with organisations responsible for
      regulating and enforcing the Official Controls (Plant Protection Products)
      Regulations 2020, including the Health and Safety Executive (HSE), the
      Scottish Government and the Welsh Government.
    </p>
    <p class="govuk-body">
      A full privacy notice will be available before you submit your
      registration.
    </p>

    <h3 class="govuk-heading-s">Need help?</h3>
    <p class="govuk-body">For help with the form you can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        email:
        <a
          class="govuk-link"
          href="mailto:defra.helpline@defra.gov.uk?subject=OCR-PPP%20registration%20enquiry"
          >defra.helpline@defra.gov.uk</a
        >
        (use the subject line ‘OCR-PPP registration enquiry’)
      </li>
      <li>call the helpline: 03459 33 55 77</li>
    </ul>
    <p class="govuk-body">Opening hours: Monday to Friday, 8:30am to 5pm.</p>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/call-charges"
        >Find out about call charges</a
      >
    </p>

    <p class="govuk-body">
      To contact Defra about a complaint,
      <a class="govuk-link" href="#">follow the complaints procedure</a>.
    </p>
  </div>
</div>
{% endblock %}
