{% extends "layouts/main.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageName = "What are your business's activities with plant protection products (PPPs)?" %}
{% set backLink = "/" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="/activities" novalidate>

      {{ govukCheckboxes({
        name: "activities",
        fieldset: {
          legend: {
            text: "What are your business’s activities with plant protection products (PPPs)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "manufacture",
            text: "Manufacture, process or import",
            hint: { text: "This includes making, mixing, or bringing professional or amateur PPPs into Great Britain." },
            checked: checked("activities", "manufacture")
          },
          {
            value: "place-on-market",
            text: "Place on the market or distribute",
            hint: { text: "This includes wholesaling, supplying, or moving PPPs down the supply chain." },
            checked: checked("activities", "place-on-market")
          },
          {
            value: "sell-professional",
            text: "Sell professional PPPs",
            hint: { text: "Selling commercial-grade chemicals, pesticides, or adjuvants to businesses or certified professional users." },
            checked: checked("activities", "sell-professional")
          },
          {
            value: "sell-amateur",
            text: "Sell amateur PPPs",
            hint: { text: "Selling home and garden weedkillers, insecticides, or slug pellets to the general public (for example, in a retail shop or garden center)." },
            checked: checked("activities", "sell-amateur")
          },
          {
            value: "use-professional",
            text: "Use professional PPPs as part of work",
            hint: { text: "Applying or storing commercial-grade pesticides, weedkillers, or adjuvants on land, farms, or commercial premises (either yourself or by hiring a contractor)." },
            checked: checked("activities", "use-professional")
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/not-eligible">I only use products in my own home or garden</a>
    </p>

  </div>
</div>
{% endblock %}
