{% extends "layouts/main.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageName = "Main business address" %}
{% set backLink = "/business-name" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorList %}{{ govukErrorSummary({ titleText: "There is a problem", errorList: errorList }) }}{% endif %}

    <h1 class="govuk-heading-xl">Main business address</h1>
    <p class="govuk-body">Enter the address that is most relevant to your professional PPP activity. This might be a head office, or where you keep your records. You can add other addresses later if you have them.</p>

    <form method="post" action="/main-address" novalidate>

      {{ govukInput({
        label: { text: "Address line 1" },
        id: "address-line-1",
        name: "address-line-1",
        autocomplete: "address-line1",
        errorMessage: { text: errors["address-line-1"] } if errors["address-line-1"],
        value: data["address-line-1"]
      }) }}

      {{ govukInput({
        label: { text: "Address line 2 (optional)" },
        id: "address-line-2",
        name: "address-line-2",
        autocomplete: "address-line2",
        value: data["address-line-2"]
      }) }}

      {{ govukInput({
        label: { text: "Town or city" },
        id: "address-town",
        name: "address-town",
        classes: "govuk-!-width-two-thirds",
        autocomplete: "address-level2",
        errorMessage: { text: errors["address-town"] } if errors["address-town"],
        value: data["address-town"]
      }) }}

      {{ govukInput({
        label: { text: "Postcode" },
        id: "address-postcode",
        name: "address-postcode",
        classes: "govuk-input--width-10",
        autocomplete: "postal-code",
        errorMessage: { text: errors["address-postcode"] } if errors["address-postcode"],
        value: data["address-postcode"]
      }) }}

      {{ govukRadios({
        name: "address-country",
        errorMessage: { text: errors["address-country"] } if errors["address-country"],
        fieldset: {
          legend: { text: "Country" }
        },
        items: [
          { value: "England", text: "England", checked: checked("address-country", "England") },
          { value: "Scotland", text: "Scotland", checked: checked("address-country", "Scotland") },
          { value: "Wales", text: "Wales", checked: checked("address-country", "Wales") }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>

  </div>
</div>
{% endblock %}
