{% extends "layouts/main.html" %}

{% set pageName = "You do not need to use this service" %}
{% set backLink = "/activities" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">You do not need to use this service</h1>

    <p class="govuk-body">If you only buy and use standard household or garden weedkillers to use around your own home or garden, and do not use or sell chemicals for work you do not need to register with the Department for Environment, Food &amp; Rural Affairs (Defra) or the Health and Safety Executive (HSE).</p>

    <p class="govuk-body">By law, you only need to register if you use plant protection products (pesticides) as part of your work, or if your business sells, imports or manufactures them.</p>

    <p class="govuk-body">You do not need to register if you are a member of the public using domestic weedkillers, slug pellets or garden sprays in your own home or garden.</p>

    <h2 class="govuk-heading-m">What you can do next</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Find out more about <a class="govuk-link" href="#">using pesticides safely in your home and garden on HSE.gov.uk</a></li>
      <li>Search the <a class="govuk-link" href="#">database of authorised amateur garden products</a></li>
    </ul>

  </div>
</div>
{% endblock %}
